#chart {
  font: 10px sans-serif;
}

.chord path {
  fill-opacity: .70;
  stroke: #000;
  stroke-width: .5px;
}
#circle:hover path.fade{
    display: none;
}

path.chord {
    stroke: #000;
    stroke-width: .2px;
}

#circle circle{
    fill: none;
    pointer-events: all;
}
.buttons-group {
    text-align:center;
    width:130px;
}

.category-button{
    width:130px;
    padding:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons-scroller {
    overflow-y:scroll;
    height:800px; 
    width:150px; 
    float:left;
    font-size:18px;
    margin:10px;
    margin-top:auto; 
    margin-bottom:auto;
}

#chart {
    width:90%;
    margin-left:auto; 
    margin-right:auto;
}

#controls {
    float:left;
    height:1000px;
    font-size:18px;
}

p{
    text-align: justify;
    margin: 30px;
    font-family: 'Helvetica', sans-serif;
    color:black;
}
